<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\distu\OneDrive\Desktop\TicTacToev3\TicTacToe.jar</jar>
  <outfile>C:\Users\distu\OneDrive\Desktop\TicTacToev3\TicTacToe.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\distu\OneDrive\Desktop\TicTacToev3\Tic_tac_toe.svg.ico</icon>
  <jre>
    <path>Utils\JRE</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
    <opt>--module-path &quot;Utils\JavaFX\lib&quot; --add-modules javafx.controls,javafx.fxml</opt>
  </jre>
</launch4jConfig>